@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


html {
  background-color:#020202;
  font-family: 'Roboto', sans-serif;
  color:#fff;
  box-sizing: border-box;
  font-size: 16px;
}


* {
  margin: 0;
  padding: 0;
}




ul, a {
  list-style: none;
  color:#fff;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px solid #fff;
}



.logo img {
  display: inline-block;
 
}


.cart img {
  display: inline-block;
  width: 50px;
}

/*Main*/

main {
  display: inline-flex;
  margin: 30px 50px;
  justify-content: space-evenly;
  align-items: center;
}

.text_1 h1,p,button {
  padding: 10px;
}
main img {
  width: 40%;
}


/* PC menu section */

.menu_section {
  display: flex;
  justify-content: center;
  
}

.menu_section h2 a {
  display: inline-block;
}

.menu_section a  {
  padding: 10px;
}