html {
  background-color:#020202;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

header {
  display: flex;
  justify-content: space-between;
}

.logo img {
  display: inline-block;
  width: 200px;
}

.cart img {
  display: inline-block;
  width: 50px;
}

