@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


html {
  /* background-color:#020202; */
  font-family: 'Roboto', sans-serif;
  color:rgb(0, 0, 0);
  width: 100%;
  font-size: 16px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




ul, a {
  list-style: none;
  color:rgb(0, 0, 0);
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  border-bottom: 2px solid rgb(0, 0, 0);
}



.logo img {
  display: inline-block;
 
}


.cart img {
  display: inline-block;
  width: 50px;
}

.hidden {
  display: none;
}

main > div > h1 {
  padding-bottom: 30px;
}

main > div > p {
  padding-bottom: 10px;
}


/*Main*/

main {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 40px;
}

/* .text_1 h1,p,button {
  padding: 50px;
  
} */
main img {
  width: 50%;
}

.text_1 {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction:column;
  align-items: center;
}

 .text_1 p {
  text-align: center;
 }

.ver-proyectos {
  width: 50%;

}

/* PC menu section */

.menu_section {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  
}

.menu_section h2 a {
  display: inline-block;
}

.menu_section a  {
  padding: 10px;
}

/* Sections */

section {
  padding: 20px;
}

.heading {
  text-align: center;
  padding: 50px;
}

#godin_maestro, #godin_alpha, #noob_master, #rgb_lover, #pro_gamer, #movie_maker, #arqui, #nasa {
  display: flex;
  justify-content: space-around;
}

#godin_alpha, #rgb_lover, #movie_maker, #nasa {
  flex-direction: row-reverse;
}

.img-gm {
  width: 50%;
}

/* Footer */

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 50px;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  main > div > h1 {
    padding-bottom: 10px;
}
html {
  font-size: 14px;
}
.cart img {
  display: inline-block;
  width: 30px;
}

}

@media only screen and (min-width: 480px) {
    main > div > h1 {
      padding-bottom: 10px;
  }
  html {
    font-size: 14px;
  }
  .cart img {
    display: inline-block;
    width: 30px;
  }

}

@media only screen and (min-width: 768px) {
  main > div > h1 {
    padding-bottom: 20px;
}
html {
  font-size: 16px;
}

}

@media only screen and (min-width: 826px) {
  main > div > h1 {
    padding-bottom: 20px;
}
html {
  font-size: 16px;
}

}

